PORT=4000
CORS_ORIGIN=http://localhost:3100

# Prisma (Neon/Postgres)
DATABASE_URL='postgresql://neondb_owner:npg_60seRjcJmBuw@ep-muddy-forest-ahm7gbr4-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Better Auth
BETTER_AUTH_URL=http://localhost:4000/api/auth
BETTER_AUTH_SECRET=G34KFxWOEkPAlmBqgBmAKVCUwilRTyt6

# Admin seeding
ADMIN_EMAIL=admin@medistore.dev
ADMIN_PASSWORD=admin123456
ADMIN_NAME=Admin